{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
<header>
    <div>
        <img src="/static/com_logo2.png" alt="Family Health Tracker" style="width: 30%">
    </div>
</header>
<br>
<div class="section">
    <h3>Track Your Symptoms & Improve Your Health</h3>
    <p>Stay on top of your families health with this easy-to-use health tracker app. Whether you're dealing with a
        chronic
        condition or recovering from a short-term illness, this will provide you with the tools to monitor your
        symptoms, track
        medication, and stay informed about your progress.</p>
</div>
<div>
    <img src="/static/all.png" alt="cartoon family">
</div>
<div class="section">
    <h4>Features</h4>
    <ul>
        <li>Track your daily symptoms</li>
        <li>Record your medication and dosages</li>
        <li>Monitor your temperature</li>
        <li>Download information to show your doctor</li>
        <li>Helpful links to the NHS</li>
    </ul>
</div>
</div>
</div>
<div class="section">
    <h4>How It Works</h4>
    <p>1. Create a profile.</p>
    <p>2. Add a patient.</p>
    <p>3. Log your symptoms, medications and temperatures.</p>
    <p>4. Track your progress over time.</p>
    <p>5. Share your health data with your doctor.</p>
</div>

<footer>
    <p>&copy; 2025 Family Health Tracker. All Rights Reserved.</p>
</footer>
{% endblock %}