{% extends "layout.html" %}

{% block title %}
Links
{% endblock %}

{% block main %}
<div class="links">
    <div class="mb-3">
        <h4>Helpful Links</h4>
    </div>
    <div class="mb-3">
        <a href="https://www.nhs.uk/">NHS England</a>
    </div>
    <div class="mb-3">
        <a href="https://www.nhs.wales/">NHS Wales</a>
    </div>
    <div class="mb-3">
        <a href="https://www.scot.nhs.uk/">NHS Scotland</a>
    </div>
    <div class="mb-3">
        <a href="https://online.hscni.net/">NHS Northern Ireland</a>
    </div>
    <div class="mb-3">
        <a href="https://111.nhs.uk//">NHS 111 Online</a>
    </div>
</div>
{% endblock %}