{% extends "layout.html" %}

{% block title %}
Patient Data
{% endblock %}

{% block main %}
<form action="/updateone" method="post">
    <div class="mb-3">
        <h4>Patient data for {{ patient_data[0].name }}</h4>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name"
            value="{{ patient_data[0].name }}" type="text" style="display:none">
    </div>
    <div class="mb-3">
        <label for="dob">
            <h6>Date of Birth</h6>
        </label><br>
        <input type="date" name="dob" value="{{ patient_data[0].age }}">
    </div>
    <div class="mb-3">
        <h6>Height(cm)</h6>
        <input class="form-control mx-auto w-auto" name="height" value="{{ patient_data[0].height }}" step="0.01"
            type="number">
    </div>
    <div class="mb-3">
        <h6>Weight(kg)</h6>
        <input class="form-control mx-auto w-auto" name="weight" value="{{ patient_data[0].weight }}" step="0.01"
            type="number">
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>
{% endblock %}